---
import Hero from "../components/Hero.astro";
import Updates from "../components/Updates.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <Hero />
        <Updates />
    </div>
</Layout>
