<section class="hero">
    <img src="/images/hero.png" alt="Hero Image" />
    <div class="hero-content">
        <h1>Your Trusted Companion in Health</h1>
        <p>Health Information that feels like home.</p>
        <button class="hero-button">Read latest article</button>
    </div>
</section>

<style>
    .hero {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem ;
    }

    .hero-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .hero-content {
        position: absolute;
        background: rgba(255, 255, 255, 0.8);
        padding: 1rem;
        border-radius: 8px;
        text-align: center; 
    }   

    .hero-button {
        background-color: #3788BD;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        border: none;
    }
</style>